*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.716) , rgba(16, 16, 16, 0.542)) ,url(../img/fondito.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor_eventos_dia{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
}
.titulo_eventos{
    color: #fff;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
h2{
    color: #fff;
}
.contenedor_eventos_grid{
    padding-top: 30px;
    width: 95%;
    height: 550px;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "ele1 ele1 ele2 ele2"
    "ele1 ele1 ele2 ele2"
    "ele3 ele3 ele4 ele4"
    "ele3 ele3 ele4 ele4"
    "ele5 ele5 ele5 ele5"
    "ele5 ele5 ele5 ele5"
    ;
}
.ele1{
    grid-area: ele1;
    background-image: url(../img_eventos/even1.jpeg);
    background-size: cover;
    background-position: center;
}

.ele2{
    grid-area: ele2;
    background-image: url(../img_eventos/even2.jpeg);
    background-size: cover;
    background-position: center;
}
.ele3{
    grid-area: ele3;
    background-image: linear-gradient(rgba(0, 0, 0, 0.413) , rgba(188, 188, 188, 0.356)), url(../img_eventos/even3.jpeg);
    background-size: cover;
    background-position: center;
}
.ele4{
    grid-area: ele4;
    background-image: url(../img_eventos/even4.jpeg);
    background-size: cover;
    background-position: center;
}

.ele5{
    grid-area: ele5;
    background-image: linear-gradient(rgba(129, 129, 129, 0.388) , rgba(63, 166, 203, 0.388)) ,url(../img_eventos/even5.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media(min-width:550px) {
    .contenedor_eventos_grid{
        overflow: hidden;
        width: 90%;
        height: 800px;
        grid-template-areas: 
        "ele1 ele2"
        "ele1 ele2"
        "ele1 ele4"
        "ele3 ele4"
        "ele3 ele4"
        "ele5 ele5"
        "ele5 ele5"
        "ele5 ele5"
      ;
    }
    .titulo_eventos{
        font-size: 27px;
        
    }
    
}